# Binaries
bin/
*.exe
*.dll
*.so
*.dylib

# Environment
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Go
vendor/
tmp/

# Frontend
ui/node_modules/
ui/dist/

# Data
data/

# Uploads
uploads/
